@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.904);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffdb64;
  text-decoration: inherit;
}

a:hover {
  color: #f2e753;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  background: linear-gradient(20deg, #f0bf1f 0%, #ffaa0c 100%);
  font-size: clamp(2.3rem, 4.1vw, 3.7rem);
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  color: #1d1d1d;
  background-color: #ffc400;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ffdb64;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:active {
  transform: scale(0.95);
}

footer {
  position: fixed;
  bottom: 2%;
  padding: 4px 8px;
  border: 1px solid #423e32;
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  right: 5%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffdb64;
  }
  button {
    background-color: #f9f9f9;
  }
}

.Gen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1em;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

input,
textarea {
  font-size: 17px;
  width: clamp(200px, 20%, 300px);
  padding: 8px 14px;
  border-radius: 6px;
  border: solid 1px #a39c76;
}

textarea {
  width: 100%;
  resize: vertical;
}

.file-upload {
  margin-bottom: 10px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.progress {
  height: 100%;
  background-color: #28a745;
  transition: width 0.3s ease-in-out;
}

.error-message {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 5px;
  width: 100%;
}
